* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  align-content: stretch!important;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 16px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-wrap {
  flex-wrap: wrap!important;
}


@media (min-width: 450px){
  .col-md-6 {
    width: 50%;
  }
}

.col-12 {
  width: 100%;
}

/* For ShowoffConner */
.pinned-item-list-item-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.position-relative {
  position: relative!important;
}

.flex-items-center {
  align-items: center!important;
}

.flex-content-stretch {
    align-content: stretch!important;
}

.text-bold {
  font-weight: 600!important;
  color: #c1c2c3
}

.min-width-0 {
  min-width: 0!important;
}
.flex-auto {
  flex: auto!important;
}

.pinned-item-desc {
  flex: 1 0 auto;
}
.flex-shrink-0 {
  flex-shrink: 0!important;
}

.d-block {
  display: block!important;
}
.text-small {
  font-size: 12px!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
.mb-3 {
  margin-bottom: 16px!important;
}
.mb-4 {
  margin-bottom: 24px!important;
}
.mt-2 {
  margin-top: 8px!important;
}

.mr-2 {
  margin-right: 8px!important;
}

.mr-3 {
  margin-right: 16px!important;
}

.p-3 {
  padding-right: 8px!important;
  padding-left: 8px!important;
}

.d-inline-block {
  display: inline-block!important;
}

.octicon {
  vertical-align: text-bottom;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.text-gray {
  color: #c9cacc!important;
}

.Box {
  background-color: #1d1f21;
  border: 1px solid #858788;
  border-radius: 3px;
}

.width-full {
  width: 100%!important;
}

.d-flex {
  display: flex!important;
}

.p-3 {
  padding: 16px!important;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.muted-link {
  color: #c9cacc!important;
}

.f6 {
  font-size: 12px!important;
}

.a {
  text-decoration: none !important;
}
